@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a project in ASP.NET Core. I have learnt from the microsoft documentations. I am a student at CHRUSAT</p>
</div>
